<h1>User Data</h1>
<p *ngIf="!userList"><em>Loading...</em></p>

<pagination-controls (pageChange)="p = $event"></pagination-controls>

<table class='table' *ngIf="userList">
  <thead>
    <tr>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList | paginate: { itemsPerPage: ipp, currentPage: p }">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.username }}</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" (click)="logout()">Logout</button>

